/* 
** CREDIT FOR THE SCROLLING TEXT GOES TO 
** Craig Buckler
** http://www.sitepoint.com/css3-starwars-scrolling-text/
**
** Seeking credit for the person who wrote "Blame me for the music via embedded video bit"
** Email mroswell@gmail.com if you are that person.
*/

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

* { padding: 0; margin: 0; }
button.ytp-play-button {margin-top:100px; }
/*#ytpc_ytcontrol_button:hover {opacity:1;}*/
body, html
{
  width: 100%;
  height: 100%;
  font-family: "Droid Sans", arial, verdana, sans-serif;
	font-weight: 700;
	color: #ff6;
	background-color: #000;
	overflow: hidden;
}

p#start
{
	position: relative;
	width: 16em;
	font-size: 200%;
	font-weight: 400;
	margin: 20% auto;
	color: #4ee;
	opacity: 0;
	z-index: 1;
	-webkit-animation: intro 10s ease-out;
	-moz-animation: intro 2s ease-out;
	-ms-animation: intro 2s ease-out;
	-o-animation: intro 2s ease-out;
	animation: intro 2s ease-out;
}

@-webkit-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-moz-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-ms-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-o-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

h1
{
	position: absolute;
	width: 2.6em;
	left: 50%;
	top: 25%;
	font-size: 10em;
	text-align: center;
	margin-left: -1.3em;
	line-height: 0.8em;
	letter-spacing: -0.05em;
	color: #000;
	text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
	opacity: 0;
	z-index: 1;
	-webkit-animation: logo 5s ease-out 2.5s;
	-moz-animation: logo 5s ease-out 2.5s;
	-ms-animation: logo 5s ease-out 2.5s;
	-o-animation: logo 5s ease-out 2.5s;
	animation: logo 5s ease-out 2.5s;
}

h1 sub
{
	display: block;
	font-size: 0.3em;
	letter-spacing: 0;
	line-height: 0.8em;
}

@-webkit-keyframes logo {
	0% { -webkit-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -webkit-transform: scale(0.1); opacity: 0; }
}

@-moz-keyframes logo {
	0% { -moz-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -moz-transform: scale(0.1); opacity: 0; }
}

@-ms-keyframes logo {
	0% { -ms-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -ms-transform: scale(0.1); opacity: 0; }
}

@-o-keyframes logo {
	0% { -o-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -o-transform: scale(0.1); opacity: 0; }
}

@keyframes logo {
	0% { transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { transform: scale(0.1); opacity: 0; }
}

/* the interesting 3D scrolling stuff */
#titles
{
	position: absolute;
	width: 20em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	text-align: justify;
	overflow: hidden;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: perspective(300px) rotateX(23deg);
	-moz-transform: perspective(300px) rotateX(23deg);
	-ms-transform: perspective(300px) rotateX(23deg);
	-o-transform: perspective(300px) rotateX(23deg);
	transform: perspective(300px) rotateX(23deg);
}

#titles:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#titles p, #titles li
{
	text-align: justify;
	margin: 0.8em 1.7em;
	cursor: pointer;
}


#titles p.center
{
	text-align: center;
}

#titles a
{
	color: #ff6;
	text-decoration: underline;
}

#titlecontent
{
	position: absolute;
	top: 100%;
	-webkit-animation: scroll 430s linear 4s infinite;
	-moz-animation: scroll 430s linear 4s infinite;
	-ms-animation: scroll 430s linear 4s infinite;
	-o-animation: scroll 430s linear 4s infinite;
	animation: scroll 430s linear 4s infinite;
}

/* animation */
@-webkit-keyframes scroll {
	0% { top: 100%; }
	100% { top: -1500%; }
}

@-moz-keyframes scroll {
	0% { top: 100%; }
	100% { top: -1500%; }
}

@-ms-keyframes scroll {
	0% { top: 100%; }
	100% { top: -1500%; }
}

@-o-keyframes scroll {
	0% { top: 100%; }
	100% { top: -1500%; }
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -1500%; }
}


li {
   list-style-position: inside;
   list-style-type: decimal;
 }


.callout{
	display: inline-block;
	position: absolute;
	width: 130px;
	height: 100px;
	padding: 15px;
	background-color: rgb(255,255,103);
	top: 9px;
	right: 59px;
	display: none;
	color: black;
}

.callout-about{
	display: inline-block;
	position: absolute;
	width: 400px;
	height: 400px;
	padding: 20px;
	background-color: rgb(255,255,103);
	top: 30px;
	right: 59px;
	display: none;
	color: black;
	/*overflow: auto;*/
}


.scroll-speed{
	width: 37px;
    border: 1px solid #000;
    height: 21px;
    text-align: center;
    background: #ffff67;
    outline: none;
}


.callout .sub-heading {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 5px;
}


.callout .speed-control{
	margin: 0 10px;
	font-size: 20px;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
}

.callout .speed-control:disabled{
	color: #d2d23f;
}


.callout .speed-control:first-of-type{
	margin-left: 0;
}


.callout:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	right: -35px;
	top: 10px;
	border: 10px solid transparent;
	border-left: 32px solid rgb(255,255,103);;
	z-index: 2;
	transform: rotate(-27deg);
}


.about {
	/*background-image: url("img/info-circle_20_bcbcbc.png");*/
	/*background-repeat: no-repeat;*/
	color: #d0d0d0;
	padding:4px;
	/*width: 20px;*/
	height: 20px;
	/*line-height: 150px;*/
	font-weight: 400;
	font-size: 12px;
	cursor: pointer;

}

.callout-about:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	right: -35px;
	top: 20px;
	border: 10px solid transparent;
	border-left: 32px solid rgb(255, 255, 103);;
	z-index: 2;
	transform: rotate(-27deg);
}

img {
	vertical-align: middle;
	margin-bottom:0.25em
}
.about a {

	cursor: pointer;
	font-weight: 400;
	font-size: 12px;
	padding-left: 24px;
	color: #d0d0d0;
}

.about-wrapper{
	z-index: 9999;
	position: absolute;
	right: 7px;
	top: 88px;
}

.settings{
	width: 20px;
	height: 20px;
	background-image: url("./img/settings.png");
	background-repeat: no-repeat;
	cursor: pointer;
	font-weight: 400;
	font-size: 12px;
	padding-left: 24px;
	color: #d0d0d0;
}


.settings-wrapper{
	z-index: 9999;
	position: absolute;
	right: 23px;
	top: 20px;
}

.sound{
	font-weight: 400;
	font-size: 12px;
	top: -6px;
    position: relative;
    color: #d0d0d0;
    cursor: pointer;
}


input[type=radio].css-checkbox {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}

input[type=radio].css-checkbox + label.css-label {
	padding-left: 18px;
    height: 14px;
    display: inline-block;
    line-height: 14px;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
}

input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

label.css-label {
	background-image:url(./img/radio.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.info{
	width: 33%;
	position: absolute;
	top: -1px;
	left: 0px;
	border: 1px solid rgb(59,56,56);
	color: #ffff66;
	font-weight: 400;
	font-size: 13px;
	padding: 8px;
	display: none;
}

.info-close{
	float: right;
	cursor: pointer;
	color: rgb(191,191,191);
}

.info .msg{
	margin-top: 5px;
	padding-right: 15px;
}

.info .msg a{
	color: #ffff66;
}

#play, #pause{
	display: none;
	border: none;
	background-repeat: no-repeat;
	width: 19px;
	height: 19px;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

#play{
	background-image: url("./img/sound-on.png");
}

#pause{
	background-image: url("./img/sound-off.png");
}

#about-text p {
	font-family: 'PT Serif', serif;
	line-height: 125%;
	margin-bottom: 1em;
}